<div class="row">
	<div class="footer">
		<div class="container">
			<div class="col-md-12" style="padding: 25px;">
				<p>*Legal Disclaimer: This website does not constitute an offer or solicitation to lend. The operator of this web site is not a lender, does not broker loans to lenders and does not make short term cash loans or credit decisions. This site will submit the information you provide to a lender. Providing your information on this Web Site does not guarantee that you will be approved for a short term cash loan. We provide a service only and are not an agent, representative or broker of any lender and do not endorse or charge you for any service or product. Our aim is to inform users of possible lenders who may be able to satisfy the needs of a particular consumer. You are under no obligation to use our website or service to initiate contact, nor apply for credit or any loan product with any service provider or lender. Not all lenders can provide up to $5,000. Cash transfer times may vary between lenders and may depend on your individual financial institution. In some circumstances faxing may be required.. For details, questions or concerns regarding your short term cash loan, please contact your lender directly. Short term cash loans are meant to provide you with short term financing to solve immediate cash needs and should not be considered a long term solution. Residents of some states may not be eligible for a short term cash loan based upon lender requirements. Credit checks, consumer credit reports and other personal data may be obtained by some lenders from Experian, Equifax, Trans Union or through alternative providers.</p>
			</div>
		</div>
	</div>
</div>