<div class="container landingPage">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>Thank You for applying for a loan through quid&#8482;.</h2>

			<p>You will be hearing from one of our loan providers via email or phone shortly.</p>

		</div>
	</div>
</div>