<div class="container landingPage">
	<div class="row">
		<div class="col-md-12 center">
			<%= link_to image_tag('squid.png'), "#" %> 
			<h1 class="primary">Consumer Loans - Made Simple.</h1>
			<h3 class="formHeader primary">Get an interest rate that's right for you.</h3>
			<%= link_to 'Apply Now', loans_path, class: "btn btn-primary btn-lg", method: :create %>
		</div>
	</div>
</div>